body {
  background: #2EB07B;

  animation: fadebackground 3s  ;
}
@keyframes fadebackground {
  from {background-color:#1C1C1C; opacity: 0%}
  to {background-color: #2EB07B; }
}


.leftside {
  top: 100px;
  position: absolute;
  width: 70%;
  height:auto;
  left: 0px;
  background-color: #2AA171;
  z-index: 2;
}

.leftpicture {
  height: 500px;
  width: 50%;
  left: 0px;
  background-color: #268F64;
}
.textleftpicture {

}



.leftpicture2 {
  height: 400px;
  width: 50%;
  left: 0px;
  background-color: #217B57;
}













.topbar {
position: absolute;
width: 100%;
height: 100px;
left: 0px;
top: 0px;

background: #4D5256;
  box-shadow: inset 0px 8px 10px rgba(0, 0, 0, .5);
}

/* Rectangle 10 */
.topleftlogo {
  top: -5px;
  left: 20px;
  position: absolute;
  height:10px;
  width: 10px;
  z-index: 1;
  position: fixed;
}


/* WARFRAME */
.conqueror {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: fixed;
  color: #C3CFD9;
  padding:0px 50px;
  left: 30%;
  line-height: 90px;
  height: 92px;
  width:auto;
  text-decoration:none;
}
.conqueror:hover {
  color: #4D5256;
  background: grey;
  transition: all 0.3s ease-in-out;
}





.warframe {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: fixed;
  color: #C3CFD9;
  padding:0px 50px;
  left: 45%;
  line-height: 90px;
  height: 92px;
  width:auto;
  text-decoration:none;
}
.warframe:hover {
  color: #4D5256;
  background: grey;
  transition: all 0.3s ease-in-out;
}


/* C’S.B */



/* GUILDWARS2 */

.guildwars {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: fixed;
  color: #C3CFD9;
  padding:0px 50px;
  left: 62%;
  line-height: 90px;
  height: 92px;
  width:auto;
  text-decoration:none;
}
.guildwars:hover {
  color: #4D5256;
  background: grey;
  transition: all 0.3s ease-in-out;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


.search-box {
  top: 28px;
  left: 85%;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
.search-box input[type="text"] {
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  padding: 5px 20px 5px 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  transition: width 500ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
  background: #4D5256;
}
.search-box input[type="text"]:focus {
  outline: none;
    background: #4D5256;
}
.search-box input[type="text"]:focus,
.search-box input[type="text"]:not(:placeholder-shown) {
  width: 200px;
  background: #4D5256;
  transition: width 500ms cubic-bezier(0.5, -0.5, 0.5, 1);
}


.search-box span {
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -16px;
  right: -16px;
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}
.search-box span:before, .search-box span:after {
  content: '';
  height: 20px;
  border-left: solid 2px ;
  position: absolute;
  transform: rotate(-45deg);
}





.bottompage{
  z-index: 3;
position: absolute;
width: 100%;
height: 80px;
left: 0px;
bottom: 0px;

background: #4D5256;
}
