.outerform {
margin-top:55px;
margin-left:30%;
margin-right:30%;
border-left: 1px solid rgba(0, 0, 0, 0.2);
border-right: 1px solid rgba(0, 0, 0, 0.2);
height: 1200px;
background-color: #3A3A3A;
}

.classeone {
  margin-left: 30%;
  margin-top: 4%;
}

.TitreDareDevil {
  margin-top: 8px;
}
